.description{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @media (max-width: 1024px) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px;
    }
    .body{
        max-width: 1400px;
        display: flex;
        gap: 50px;
        position: relative;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
        }
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 36px;
                gap: 8px;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }

                @media (max-width: 1024px) {
                    font-size: 28px;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 1.4;
                }

                @media (max-width: 480px) {
                    font-size: 20px;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 80%;
                font-weight: 300;

                @media (max-width: 768px) {
                    font-size: 16px;
                    width: 100%;
                }

                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }
        }
        .button{
            top: 80%;
            left: calc(100% - 200px); 
            width: 180px;
            height: 180px;
            background-color: #1C1D20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @media (max-width: 1024px) {
                width: 140px;
                height: 140px;
                left: calc(100% - 160px);
            }

            @media (max-width: 768px) {
                position: relative;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
                margin-top: 20px;
            }

            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}