.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;

    img{
      object-fit: cover;
    }

    .nameContainer {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        
        .animatedName {
            font-size: 120px;
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            letter-spacing: 0.05em;
            position: relative;
            display: inline-flex;
            
            span {
                display: inline-block;
            }
            
            &::before {
                content: 'AMINE BAHA';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(255,255,255,0.1) 0%,
                    rgba(255,255,255,0.8) 50%,
                    rgba(255,255,255,0.1) 100%
                );
                background-size: 200% 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                animation: shine 3s linear infinite;
            }
            
            @keyframes shine {
                0% {
                    background-position: -200% 0;
                }
                100% {
                    background-position: 200% 0;
                }
            }
        }
    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 350px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 0px;
      color: white;
      font-size: 230px;
      font-weight: 500;
      padding-right: 50px;
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 35%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 100px;
      }
    }
  }
  
